<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>蓝牙指纹挂锁</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/login.css"  th:href="@{/asserts/css/login.css}" rel="stylesheet" >
</head>
<body class="text-center"
      background="/asserts/img/login_bg.jpg"
      style="background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;" >

<form class="form-login" action="dashboard.html" th:action="@{/user/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal" th:text="请登录">Please sign in</h1>
    <!--判断-->
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label class="sr-only" th:text="用户名">Username</label>
    <input type="username"  name="username" class="form-control" placeholder="用户名" required="" autofocus="">
    <label class="sr-only" th:text="密码">Password</label>
    <input type="password" name="password" class="form-control" placeholder="密码" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"/> [[记住我]]
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="登录">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2018-2019</p>
</form>
</body>
</html>